# Contentstack Configuration
CONTENTSTACK_API_KEY=your_api_key_here
CONTENTSTACK_DELIVERY_TOKEN=your_delivery_token_here
CONTENTSTACK_ENVIRONMENT=your_environment_here
CONTENTSTACK_PREVIEW_TOKEN=your_preview_token_here
CONTENTSTACK_REGION=NA
CONTENTSTACK_BRANCH=main

# Contentstack Personalization
CONTENTSTACK_PERSONALIZATION=your_personalization_project_uid_here
CONTENTSTACK_PERSONALIZE_EDGE_API_URL=your_edge_api_url_here

# Commerce
RED_PANDA_COMMERCE_ID=your_commerce_id_here

# D&I
LYTICS_TAG=your_lytics_tag_here

# Feature Flags
LIVE_PREVIEW_ENABLED=true
HOSTING=launch